@import "../../../styles/helpers/functions.scss";

.about {
  padding: clamp(30px, 100vw, get-vw(165px)) clamp(30px, 100vw, get-vw(120px)) clamp(50px, 100vw, get-vw(138px));
}

.inner {
  margin-top: clamp(20px, 100vw, get-vw(50px));
  padding: 0 clamp(94px, 100vw, get-vw(245px));
  & > *:nth-child(1) {
    margin-bottom: clamp(30px, 100vw, get-vw(30px));
  }
}

@media (max-width: 768px) {
  .inner {
    padding: 0;
  }
}