@import "../../../styles/helpers/functions.scss";

.team {
  padding: clamp(90px, 100vw, get-vw(155px)) clamp(30px, 100vw, get-vw(278px)) clamp(54px, 100vw, get-vw(195px));
}

.inner {
  position: relative;
  z-index: 2;
}

.lines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  span {
    height: 100%;
    width: clamp(1px, 100vw, get-vw(1px));
    display: block;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.2) 0%, rgba(0, 0, 0, 0) 78.05%);
  }
}

.list {
  display: flex;
  margin: clamp(30px, 100vw, get-vw(70px)) 0 clamp(30px, 100vw, get-vw(90px));
  flex-wrap: wrap;
}

.item {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 clamp(15px, 100vw, get-vw(15px));
}

.itemTitle {
  font-weight: 800;
  font-size: clamp(120px, 100vw, get-vw(170px));
  line-height: 1;
  margin-bottom: clamp(12px, 100vw, get-vw(33px));
  letter-spacing: clamp(1px, 100vw, get-vw(1px));
  background: linear-gradient(15.07deg, #00E0FF -8.03%, #004BA2 83.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.itemDesc {
  font-weight: 700;
  letter-spacing: clamp(1px, 100vw, get-vw(1px));
  font-size: clamp(14px, 100vw, get-vw(18px));
  line-height: clamp(16px, 100vw, get-vw(22px));
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .team {
    padding: clamp(90px, 100vw, get-vw(155px)) clamp(30px, 100vw, get-vw(100px)) clamp(54px, 100vw, get-vw(195px));
  }
}

@media (max-width: 768px) {
  .list {
    gap: 30px;
  }
  .item {
    width: 100%;
    padding: 0;
  }
  .lines {
    display: none;
  }
  .itemDesc {
    font-weight: 400;
  }
}