@import "../../../styles/helpers/functions.scss";

.quote {
  background: var(--bg-color-dark);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: clamp(294px, 100vw, get-vw(641px));
  width: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  padding: clamp(30px, 100vw, get-vw(30px));
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  position: relative;
  margin-bottom: clamp(55px, 100vw, get-vw(70px));
}

.titleTxt {
  font-weight: 900;
  font-size: clamp(140px, 100vw, get-vw(200px));
  line-height: 1;
  letter-spacing: clamp(6px, 100vw, get-vw(6px));
  display: none;
}

.titleSvg {
  position: relative;
  width: clamp(245px, 100vw, get-vw(352px));
  height: clamp(106px, 100vw, get-vw(146px));
}

.titleSvgItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  svg {
    display: block;
    height: 100%;
  }
}

.titleSvgItemFill {
  opacity: 0;
}

.titleSvgItemStroke {
  stroke-width: clamp(2px, 100vw, get-vw(2px));
  stroke: var(--text-color-light);
  stroke-dashoffset: 750;
  stroke-dasharray: 750;
}

.desc,
.label {
  text-transform: uppercase;
  color: var(--bg-color-light);
  letter-spacing: 1;
}

.desc {
  margin-bottom: clamp(24px, 100vw, get-vw(25px));
}

.label {
  font-weight: 600; 
  margin-bottom: clamp(60px, 100vw, get-vw(60px));
}

@media (max-width: 480px) {
  .content {
    max-width: 100%;
  }
}