@import "../../../styles//helpers/functions";

.title {
  font-weight: 1000;
  letter-spacing: clamp(1px, 100vw, get-vw(1px));
}

.big {
  font-size: clamp(28px, 100vw, get-vw(60px));
  line-height: clamp(32px, 100vw, get-vw(72px));
}

.small {
  font-size: clamp(28px, 100vw, get-vw(46px));
  line-height: clamp(32px, 100vw, get-vw(52px));
}

.default {
  color: var(--text-color-dark);
}

.light {
  color: var(--text-color-light);
}

.gradient {
  background: linear-gradient(275.69deg, #00E0FF 7.94%, #0075FF 109.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.centered {
  text-align: center;
}