:root {
  --bg-color-dark: #121212;
  --bg-color-light: #fff;
  --text-color-dark: #121212;
  --text-color-light: #fff;
  --text-color-dark: #000;
  --text-color-light: #fff;
  --text-color-semilight: rgba(0, 0, 0, 0.25);
  --body-color: #fff;
  --err-color: #FF7457;
  --article-title-color: #2C1338;
  --border-color-dark: #000;
  --border-color-light: #fff;
  --default-line-height: 140%;
  --default-weight: 400;
}